@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7rem; }

.text-pink {
  color: #f32c9b; }

.heading__1 {
  backface-visibility: hidden;
  animation: moveInLeft 1s ease-out .5s backwards; }
  .heading__1--address {
    font-weight: 300;
    display: block;
    letter-spacing: 0.2rem;
    font-size: 4.2rem;
    animation: moveInLeft 1s ease-out .5s backwards; }
  .heading__1--phone {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-weight: 300; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(/img/header.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center; }
  .header__box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    backface-visibility: hidden; }
  .header__logo {
    height: 25rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden; }
