@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7rem; }

.text-pink {
  color: #f32c9b; }

.heading__1 {
  backface-visibility: hidden;
  animation: moveInLeft 1s ease-out .5s backwards; }
  .heading__1--address {
    font-weight: 300;
    display: block;
    letter-spacing: 0.2rem;
    font-size: 4.2rem;
    animation: moveInLeft 1s ease-out .5s backwards; }
  .heading__1--phone {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-weight: 300; }

.heading__2 {
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #f76cba, #c61083);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .5s; }
  .heading__2:hover {
    transform: scale(1.05) translateY(-0.5rem); }

.heading__2:first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  margin-right: 20px; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(/img/header.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  display: block; }
  .header__box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    backface-visibility: hidden; }
  .header__logo {
    height: 25rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden; }

.about-us__text {
  font-size: 1.7rem;
  line-height: 3rem; }

.about-us__photo {
  width: 90%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all .4s; }
  .about-us__photo:hover {
    transform: scale(1.15) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(243, 44, 155, 0.5);
    z-index: 20; }

.about-mi {
  background: #f1f1f1; }
