//MEDIA QUERY MANAGER

// 0 - 575px: sm
// 576 - 767px: md
// 768 - 991px: lg
// 992 - 1140 xl
// 1800px + : xxl

//1em - 16px


@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: 36em) { @content };  //600px - 37.5em
    }
    @if $breakpoint == md {
        @media (max-width: 48em) { @content };  //900px
    }
    @if $breakpoint == lg {
        @media (max-width: 62em) { @content }; //1200px
    }
    @if $breakpoint == xl {
        @media (max-width: 71.25em) { @content };
    }
    @if $breakpoint == xxl {
        @media (min-width: 112.5em) { @content };
    }
}

@mixin asbCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba($black, .8);
}