$pink: #f32c9b;
$pink-dark: #c61083;
$pink-light: #f76cba;

$white: #fff;

$grey-dark: #303531;
$grey-dark-2: #212522;
$grey-light: rgb(241, 241, 241);
$grey-text: #777;

$black: #000;
$facebook: #3b5998;
$isntagram: #517fa4;
