$pink: #f32c9b;
$pink-dark: #c61083;
$pink-light: #f76cba;

$white: #fff;

$grey-dark: #303531;
$grey-light: rgb(241, 241, 241);
$grey-text: #777;

$green-light: #9cff49;
$green-dark: #60d100;
$grey-socolor: #aaa;
$blue: #110efa;
$blue-socolor: #315888;
$red-dark: #b72200;
$red-light:  #ff7251;
$yellow-light: #faf667;
$yellow-dark: #b3ad05;



$black: #000;
$facebook: #3b5998;
$isntagram: #517fa4;
