.mi-footer {
    background-color: $grey-dark;

    &__list-item {
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 1.4rem;
            transition: all .5s;
            color: $white;
            line-height: 2.5rem;
            // letter-spacing: 0.1rem;
        }

        &:hover, 
        &:active {
            color: $pink;
        }
    }

    &__contacts {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    &__logo {
        width: 30rem;
    }

    &__copy {
        font-size: 1.4rem;
    }

    &__instagram {
        transition: color .4s;
        &:hover {
            color: $isntagram;       
        }
    }

    &__facebook {
        transition: color .4s;
        &:hover {
            color: $facebook;
        }
    }
}