.header {
    background-image: linear-gradient(rgba($black, .8),
    rgba($black, .5)),
    url(/img/header.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    display: block;
    
    &__box {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%); //i pati viduri
        backface-visibility: hidden;
    }

    &__logo {
        height: 25rem;
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
    }
}