.mi-menu {
    background: linear-gradient(rgba($black, .4), rgba($black, .3)); 
    transition: all .7s;

    &__scroll {
        background: linear-gradient(rgba($black, .8), rgba($black, .7)); 
    }

    &__item {
        font-size: 1.4rem;
        letter-spacing: 1px;
        color: $white;
        font-weight: 400;
        transition: all .5s;

        &:hover {
            color: $pink;
            transform: translateX(0.5rem) translateY(0.2rem);
        }

        &--active {
            color: $pink;
        }
    }

    &__logo {
        opacity: 0;
        transition: all .7s;
        width: 1rem;

        &--hidden {
            opacity: 1;
            width: 20rem;
        }
    }
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}
  
.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.change .line2 {
    opacity: 0;
}
  
.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


  
